{{define "admin/_footer"}}
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/js/content.min.js?v=1.0.0"></script>
    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/static/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/static/js/plugins/switchery/switchery.js"></script><!--IOS开关样式-->
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/mdm.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/request.js"></script>
    <script src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/webupload/webuploader.min.js"></script>
    <script type="text/javascript" src="/static/js/upload_img.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
{{end}}